@media (min-width: 120px) {
    .contact__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .address__wrapper,
    .clock__wrapper,
    .phone__wrapper {
        flex-basis: 100%;
        margin-top: 10px;
    }

    .address, .clock, .phone {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 1rem;
    }
 
    .fa-sharp, .fa-clock, .fa-phone {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .form__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 5px;
    }

    .form__box {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;
    }
    .form__box label,
    .form__box input,
    .form__box textarea {
        flex-basis: 90%;
        font-size: 20px;
        margin-bottom: 3px;
    }

    .btn {
        align-self: center;
        font-size: 20px;
        padding: 5px 10px;
        cursor: pointer;
        text-transform: uppercase;
        text-align: center;

    }
    iframe {
        height: 300px;
        width: 100%;
    }
    
}

@media (min-width: 768px) {
    .fa-sharp, .fa-clock, .fa-phone {
        font-size: 3rem;
    }
}

@media (min-width: 1024px){
    .contact__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .wrapper {
        display: flex;
    }

    .form__wrapper,
    iframe {
        flex: 50%;
        
    }
}

@media (min-width: 1200px){
    iframe {
        height: 400px;
    }
}

.error-message {
    display: none;
}