* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;

}

h1, h2 {
    text-transform: uppercase;
}

/* Logo i Menu */

.nav__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
    text-transform: uppercase;
    
}

.navigation__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__container li,
.hamburger__menu li {
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
    
}

.navigation__container a,
.hamburger__menu a {
    text-decoration: none;
    color: #000;
}

.navigation__wrapper {
    display: flex;   
    
}

.logo__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #000;
    text-shadow: 3px 3px orange;
}

.hamburger__menu {
    display: none;
}

.fa-x {
    display: none;
}

/* Hero image */

.hero__image {
    width: 100%;
    height: 400px;
    background-image: url('../images/balustrada-zewnetrzna.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.hero-image-h1 {
    color: #32180A;
    text-shadow: 3px 3px orange;
    text-transform: uppercase;
    text-align: center;
    padding: 70px;
}

.header {
    text-shadow: 2px 2px orange;
    padding: 10px;
    text-align: center;
}

/* Footer */

.footer {
    margin-top: auto;
}

.footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2rem;
    background-color: orange;    
}

@media (min-width: 120px) {
    .nav__wrapper {
        justify-content: space-between;
        position: relative;
    }
    
    .navigation__container {
        display: none;
    }

    .fa-bars,
    .fa-x {
        font-size: 2rem;
        cursor: pointer;
    }

    .fa-bars {
        display: block;     
    }

    .hamburger__menu {
        display: none;
        width: 50%;
        height: 100vh;
        position: absolute;        
        top: 100%;
        right: 0;
        z-index: 1;
        background-color: orange;
    }

    .hamburger__menu .navigation__wrapper {
        display: flex;
        flex-direction: column;
    }

    /* Section One */

    .section__one,
    .section__two,
    .section__three {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    background-color: #ddd;    
}

.section__wrapper__img,
.wrapper__section__description {
    flex-basis: 100%;    
}
.section__image {
    width: 100%;
    height: 200px;
}

.wrapper__section__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
}


/* section two */
.section__two {
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    display: flex;
}

.wrapper__section__two__description,
.section__wrapper__two__img {
    flex-basis: 100%;
}

.wrapper__section__two__description ul {
    width: 50%;
    margin: 0 auto;
}



/* section three */
.section__three {
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.section__three h1 {
    text-align: center;
    
}

.section__three__img__wrapper {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section__three__img__wrapper img {
    height: 200px;
    width: 100%;
}

.img__wrapper {
    width: 80%;   
    height: 200px;
}
.section__three__gallery__wrapper,
.section__three__contact__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__three a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    padding: 10px;
}

.btn {    
    border: 1px solid black;
    border-radius: 10px;
    transition: .5s;
}

}

@media (min-width: 768px) {
    .fa-bars {
        display: none;
    }
    .nav__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo__container {
        flex-grow: 1;    
    }
    .logo__wrapper {
        justify-content: center;
    }

    .navigation__container {
        display: flex;
    }

    .section__wrapper__img,
    .wrapper__section__description {
    flex-basis: 50%;    
    }
    /* section two */
    
    .wrapper__section__two__description,
    .section__wrapper__two__img {
        flex-basis: 50%;
    }

    .section__wrapper__two__img {
        order: 1;
    }

    /* section three */
    .section__three__img__wrapper {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .section__image {
        height: 300px;
    }
}

@media (min-width: 1200px) {
    .logo__container {
        flex-grow: 0;
        margin-right: 2rem;    
    }

    .hero__image {    
        height: 50vh;
    }

    /* Section One */

    .section__one {
        background-color: #fff;
    }

.section__wrapper__img {
    transform: translateY(+100%);
    z-index: -1;
}

.wrapper__section__description {
    transform: translateY(100%);
}

@keyframes showLeft {
    from {
        transform: translateY(+100%);
        z-index: -1;
    }

    to {
        transform: translateY(0); 
        z-index: 1;
    }
}

@keyframes showRight {
    from {
        transform: translateY(+100%);
        z-index: -1;
    }

    to {
        transform: translateY(0); 
        z-index: 1;
    }
}
.section__image {
    height: 400px;
}

.wrapper__section__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper__section__description h1,
.wrapper__section__description p {
    flex-basis:  50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrapper__section__description p {
    align-items: flex-start;
    text-align: center;
}

/* section two */

.section__two {
    justify-content: center;
    align-items: center;
    transform: scale(0);
}
.wrapper__section__two__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper__section__two__description h1 {
    font-size: 40px;
    padding: 10px;
}

.wrapper__section__two__description li {
    font-size: 22px;
    padding: 10px;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* section three */

.section__three {
    justify-content: center;
    align-items: center;
}

.section__three .header {   
    text-align: center; 
    font-size: 40px;
    padding: 10px;
}

.img__wrapper {
    overflow: hidden;
    width: 350px;
    height: 350px;
}
.section__three__img__wrapper img {
    width: 350px;
    height: 350px;
    transition: 0.5s;
}

.section__three__img__wrapper img:hover {
    width: 400px;
    height: 400px;
}

.section__three h2 {
    font-size: 30px;
    padding: 10px;
}

.btn:hover {
    background-color: orange;
}

}
    