* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;

}

/* Logo i Menu */

.nav__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
    text-transform: uppercase;
    
}

.navigation__container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */
}

.navigation__container li,
.hamburger__menu li {
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
    
}

.navigation__container a,
.hamburger__menu a {
    text-decoration: none;
    color: #000;
}

.navigation__wrapper {
    display: flex;   
    
}

.logo__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #000;
    
}

.logo h1 {
    margin-right: 100px;
}

.logo .fa-solid {
    font-size: 20px;
}

.hamburger__menu {
    display: none;
}

.fa-x {
    display: none;
}



/* Hero image */

.hero__image__wrapper {
    
}

.hero__image {
    width: 100%;
    height: 400px;
    background-image: url('/images/balustrada-zewnetrzna.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.hero__image h1 {
    color: #ddd;
    text-transform: uppercase;
    text-align: center;
    padding: 50px;
}



/* Footer */

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 120px) {
    .nav__wrapper {
        justify-content: space-between;
        position: relative;
    }
    
    .navigation__container {
        display: none;
    }

    .fa-solid {
        font-size: 2rem;
        cursor: pointer;
    }

    .fa-bars {
        display: block;     
    }

    .hamburger__menu {
        display: none;
        width: 50%;
        height: 100vh;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1;
        background-color: orange;
    }

    .hamburger__menu .navigation__wrapper {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .fa-bars {
        display: none;
    }
    .nav__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo__container {
        flex-grow: 1;    
    }
    .logo__wrapper {
        justify-content: center;
    }

    .navigation__container {
        display: flex;
    }
}

@media (min-width: 1200px) {
    .logo__container {
        flex-grow: 0;    
    }

    /* Section One */

.section__one {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    background-color: #ddd;    
}

.section__wrapper__img,
.wrapper__section__description {
    flex-basis: 50%;    
}

.section__wrapper__img {
    transform: translateX(-100%);
}

.wrapper__section__description {
    transform: translateX(100%);
}

@keyframes showLeft {
    form {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes showRight {
    from {
        transform: translateX(100%)
    }

    to {
        transform: translateX(0)
    }
}
.section__image {
    width: 100%;
    height: 400px;
}

.wrapper__section__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper__section__description h1,
.wrapper__section__description p {
    flex-basis:  50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper__section__description h1 {
    text-shadow: 2px 2px orange;
}

.wrapper__section__description p {
    align-items: flex-start;
    text-align: center;
}
}
    